<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ userData.userName }} </div>
            <div class="panel-body">
                <p>This user is {{ userData.userStatus }}</p>
                <hr>
                <button class="btn btn-default" (click)="onSetTo('active')">Active</button>
                <button class="btn btn-default" (click)="onSetTo('disable')">Disable</button>
                <button class="btn btn-default" (click)="onSetTo('inactive')">Inactive</button>              
            </div>
        </div>
    </div>
</div>