<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main App</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <app-server></app-server>
                <app-servers></app-servers>
                <hr>
                <success-note></success-note>
                <hr>
                <warning-alert></warning-alert>
            </div>
        </div>
    </div>
</body>
</html> -->

<!-- <app-network></app-network> -->

<!-- <app-one-image></app-one-image> -->
<!-- <app-image-slider></app-image-slider> -->

<!-- <app-highlights></app-highlights> -->
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
    <title>login demo</title>
</head>

<body class="mat-app-background">
    <app-login-website>Loading..</app-login-website>
    <span class="version-info">Current build: 12.1.1</span>
</body>

</html> -->

<!-- ngSwitch and ngSwitchCase are used as switch cases like in python.-->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="number" placeholder="type a number" [(ngModel)]="value" min="0" max="6">
            <div [ngSwitch]="value">
                <p *ngSwitchCase="1"> This is One. The One </p>
                <p *ngSwitchCase="2"> This is Two. The Two </p>
                <p *ngSwitchCase="3"> This is Three. The Three </p>
                <p *ngSwitchCase="4"> This is Four. The Four </p>
                <p *ngSwitchCase="5"> This is Five. The Five </p>
                <p *ngSwitchCase="6"> This is Six. The Six </p>
            </div>
        </div>
    </div>
</div> -->


<!-- This is for players component that has two teams button and a input to type a player name -->
<!-- <html>
    <body>
        <div class="container">
            <app-cockpit 
                (TeamData)="teamMemberAdded($event)"></app-cockpit>
            <div class="row">
                <div class="col-xs-12" *ngFor="let team of teams">
                    <button class="btn btn-default button" (click)="onChangeCall()">CHANGE NAME</button>
                    <app-network *ngIf="team.memberName !== ''"
                    [teamMembers]="team"
                    [memberName]="team.memberName">
                        this below two div, are for ng-content understanding 
                        comment it if not needed
                        <div class="panel-heading">{{team.memberID}}</div>
                        <div class="panel-body">{{ team.memberName }}</div>
                    </app-network>
                </div>  
            </div>  
        </div>    
    </body>
</html> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-new-user ></app-new-user>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12" *ngFor="let user of userData; let i = index">
            <app-accounts 
                [userData]="user" 
                [id]="i"></app-accounts>
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="drop-container">
                <ng-multiselect-dropdown
                    placeholder="Select a feature"
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    (onSelect)="toggleFeature($event)"
                    (onDeSelect)="toggleFeature($event)"
                    (onSelectAll)="toggleFeatures($event)"
                    (onDeSelectAll)="toggleFeatures($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div *ngIf="isAdminReportEnabled" class="panel panel-default">
                <div class="panel-heading">{{ "Admin Reporting" }}</div>
                <div class="panel-body">
                    <button class="btn btn-default">Add Users</button>
                    <button class="btn btn-default">Add Groups</button>
                </div>
            </div>
            <div *ngIf="isInteractiveReportEnabled" class="panel panel-default">
                <div class="panel-heading">{{ "Interactive Reporting" }}</div>
                <div class="panel-body">
                    <button class="btn btn-default">Show Reports</button>
                    <button class="btn btn-default">Show Insights</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <app-active-users></app-active-users>
        <app-inactive-users></app-inactive-users>
      </div>
    </div>
</div> -->
  

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-reports></app-reports>
        </div>
    </div>
</div> -->

<div class="container">

    <h2>EVENTS DONE</h2>
    <div>
        <label for="users">USERS:</label>
        <input class="form-control" id="users" type="number">
    </div>
    <br>
    <div>
        <label for="GROUPS">GROUPS</label>
        <input class="form-control" id="GROUPS" type="number">
    </div>
    <br>
    <div>
        <label for="FILES">FILES</label>
        <input class="form-control" id="FILES" type="number">
    </div>
    <br>
    <h2>EVENTS IN ES</h2>
    <div>    
        <label for="users">USERS</label>
        <input class="form-control" id="users" type="number">
    </div>
    <br>
    <div>    
        <label for="GROUPS">GROUPS</label>
        <input class="form-control" id="GROUPS" type="number">
</div>
<br>
<div>
    <label for="FILES">FILES</label>
    <input class="form-control" id="FILES" type="number">
</div> -->

<!-- <app-template-driven></app-template-driven> -->
<app-template-driven-exercise></app-template-driven-exercise>

<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-reactive-forms-exercise></app-reactive-forms-exercise> -->

<!-- <mat-form-field appearance="fill">
    <input matInput  [matDatepicker]="fromPicker" placeholder="title">
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill">
    <input matInput  [matDatepicker]="toPicker" placeholder="title">
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
</mat-form-field>  -->

<!-- <input 
    id="startDate"
    type="date" 
    [(ngModel)]="startDate" 
    name="startDate" 
    class="form-control">
<input 
    id="endDate"
    type="date" 
    [(ngModel)]="endDate" 
    name="endDate" 
    class="form-control"
    endDateGreaterThanStartDate> -->



</div>