<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main App</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>This is main app</p>
                <!-- <app-server></app-server>
                <app-server></app-server>
                <app-servers></app-servers>
                <hr>
                <success-note></success-note>
                <hr>
                <warning-alert></warning-alert> -->
                <!-- <app-basic-assignment-ii></app-basic-assignment-ii> -->
                <!-- <basic-assignment-iii></basic-assignment-iii> -->
                <!-- <app-employees-list></app-employees-list> -->
                <!-- <app-inter-dropdown></app-inter-dropdown> -->
                <app-game-control (anEvent)="onEventFired($event)"></app-game-control>
                <div class="row">
                    <div class="col-xs-12">
                        <app-even *ngFor="let evenNumber of evenNumbers" [evenNumber]="evenNumber"></app-even>
                        <app-odd *ngFor="let oddNumber of oddNumbers" [oddNumber]="oddNumber"></app-odd>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>