
<p>employees list working fine</p>
<div class="row">
    <div class="col-xs-10">
        <button class="car card-small" (click)="addRandomEmployee()">Add a random employee</button>
        <ul class="list-group" class="list-group-item"
        *ngFor="let employee of employees; let i = index"
        [ngStyle]="{'background-color': i%2 == 0 ? 'green' : 'white', 'color': i%2 == 0 ? 'white' : 'black'}">
            <p>{{ employee.name }} - {{ employee.id }}</p>      
        </ul>
    </div>
</div>
    