<a
[routerLink]="['/recipes', index]"
style="cursor: pointer;"
routerLinkActive="active"
class="list-group-item clearfix">
    <div class="pull-left">
        <h2 class="list-group-item-header">{{ recipe.name}}</h2>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div class="pull-right">
        <img 
        [src]="recipe.imagePath" 
        alt="{{ recipe.name }}" 
        lass="img-responsive" 
        style="max-height: 80px; border-radius: 5px">
    </div>
</a>