<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe_detail.imagePath" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe_detail.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div 
            class="btn-group"
            appDropDown >
            <button
            type="button"
            class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddIngredientsToSL()" style="cursor: pointer;">Add Ingredients</a></li>
                <li><a style="cursor: pointer;" [routerLink]="['edit']" >Edit Recipe</a></li>
                <li><a style="cursor: pointer;" >Remove Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe_detail.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let ingredient of recipe_detail.ingredients">
                {{ ingredient.name }}, {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>