<!--
    Create a Form with the following Controls and Validators
    1) Project Name (should not be empty)
    2) Mail (should not be a empty and a valid email)
    3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
    4) Submit Button

    Add your own Validator which doesn't allow "Test" as a Project Name

    Also implement that Validator as an async Validator (replace the other one)

    Upon submitting the form, simply print the value to the console
-->
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form
            [formGroup]="forms"
            (ngSubmit)="onSubmit()">
            <div
                formGroupName="projectData">
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input 
                    type="text"
                    id="projectName"
                    name="projectName"
                    class="form-control"
                    formControlName="projectName">
                    <span *ngIf="!forms.get('projectData.projectName').valid && forms.get('projectData.projectName').touched">
                        <span *ngIf="forms.get('projectData.projectName').errors['isNotAllowed']">Value not allowed.</span>
                        <span *ngIf="forms.get('projectData.projectName').errors['required']">Field is required.</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                    type="text"
                    id="email"
                    name="email"
                    class="form-control"
                    formControlName="email">
                    <span *ngIf="!forms.get('projectData.email').valid && forms.get('projectData.email').touched">Invalid email!</span>
                </div>
            </div>
                <div class="form-group">
                <label for="projectStatus">Status</label>
                <select 
                    id="projectStatus"
                    name="projectStatus"
                    class="form-control"
                    formControlName="projectStatus">
                    <option 
                        *ngFor="let status of statuses"
                        [value]="status">{{status}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </form>
      </div>
    </div>
  </div>